!!! 5
html(lang="en")
	head
		title Clockwork
		link(rel="stylesheet", href="/css/smoothness/jquery-ui-1.8.16.custom.css")
		link(rel="stylesheet", href="/css/index.css")
		
		script(src="//ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.js")
		script(src="/js/jquery-ui-1.8.16.custom.min.js")
		script(src="/js/ace.js")
		script(src="/js/theme-textmate.js")
		script(src="/js/mode-coffee.js")
		script(src="/js/coffee-script.js")
		script(src="/js/Box2dWeb-2.1.a.3.min.js")
		!= js('stage')
		!= js('index')
	body
